HELP.md
../.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!src/main/js/main/**/build/
!src/main/js/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!src/main/js/main/**/bin/
!src/main/js/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!src/main/js/main/**/out/
!src/main/js/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
